@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: local('PT Serif'), local('PTSerif-Regular'), url(/stylesheets/PTF55F.ttf) format('ttf');
}
@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    src: local('PT Serif Bold'), local('PTSerif-Bold'), url(/stylesheets/PTF75F.ttf) format('ttf');
}
@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    src: local('PT Serif Italic'), local('PTSerif-Italic'), url(/stylesheets/PTF56F.ttf) format('ttf');
}
@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 700;
    src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url(/stylesheets/PTF76F.ttf) format('ttf');
}
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(/stylesheets/PTS55F.ttf) format('ttf');
}
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'), url(/stylesheets/PTS75F.ttf) format('ttf');
}
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: local('PT Sans Italic'), local('PTSans-Italic'), url(/stylesheets/PTS56F.ttf) format('ttf');
}
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(/stylesheets/PTS76F.ttf) format('ttf');
}
